/* FONTS IMPORTED */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* GENERAL SETTINGS */

body {
    font-family: "Poppins", sans-serif;
    background-color:rgb(29, 32, 57);
}

.container {
    max-width: 1400px;
    min-width: 290px;
    margin: 0 auto;
}



/* HEADER SETTINGS */

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/imgs/rio.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: white;
    padding: 60px 0;
    border-radius: 3px;
    margin-top: 10px;
}

header h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin: 180px 0 150px 0;
}

header h2 {
    font-size: 12px;
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header h3 { 
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

header a, header a:active, header a:visited {
    font-weight: 700;
    display: inline-block;
    margin-top: 70px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #1D2039;
    text-decoration: none;
    background-color: white;
    padding: 16px 32px;
}

header a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4ms;
}

header .brazil {
    font-style: italic;
    font-size: 50px;
    font-weight: 800;
}



/* MAIN SETTINGS */

main {
    background-color: white;
    padding: 64px;
}


main .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

main .section-2 {
    max-width: 100%;
    padding: 100px 64px;
    background-color: rgb(224, 224, 224);
    margin: 64px -64px 0 -64px;
    text-align: center;
}

main .card-grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    align-items: stretch;
}

main .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr auto;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
}

/* main .card-header {
    grid-template-columns: 1fr 1fr;
} */

main .card-body {
    padding: 20px;
}

main .caipirinha-img img {
    width: 100%;
    display: block;
    border-radius: 3px;
}

main .img-responsive {
    display: block;
    width: 100%;
    height: 100%;
}

main h2 {
    font-weight: 700;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    letter-spacing: 5px;
    opacity: 0.3;
    text-transform: uppercase;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

mian h3 .verse {
    font-style: italic;
}

main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    opacity: 0.8;
    color: rgb(25, 15, 34);
}

main h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    opacity: 0.8;
    color: rgb(25, 15, 34);
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.7;
    text-align: justify;
}

.card-button {
    display: block;
    width: 100%;
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    
    background-color:rgba(25, 15, 34, 0.8);
    text-decoration: none;
}

.card-footer {
    margin: 0 10px 10px 10px;
    padding: 0; 
}


/* FOOTER SETTINGS */

footer {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/imgs/rio-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-top: 100px 0 30px 0;
    padding: 60px 0;
    border-radius: 3px;
    color: white;
}

footer .footer {
    max-width: 100%;
    padding: 100px;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 32px;
}

/* footer .author-infos {
    display: block;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    margin-top: 30px
} */

footer ul {
    padding: 0;
}

footer li {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    line-height: 24px;
}

footer a, footer a:active, footer a:visited {
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4ms;
}



/* RESPONSIVENESS SETTINGS */

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }

    header h1 {
        font-size: 16px;
    }

    header h2 {
        font-size: 12px;
    }

    header a {
        font-size: 10px;
    }

    header .brazil {
        font-size: 26px;
    }

    main .section-1 {
        padding: 30px;
        grid-template-columns: 1fr;
        gap: 32px;
    }

    main .card-grid {
        grid-template-columns: 1fr;
    }
    
    footer .footer {
        padding: 30px;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}