body {
    font-family: "Google Sans Code", monospace
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}


header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("/imgs/rio.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    color: white;
    padding: 40px 0;
    border-radius: 3px;
}

header h1 {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
    margin-top: 50px;
}

header h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}

header a, header a:active, header a:visited {
    display: block;
    margin-top: 80px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: lowercase;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 0.4ms;
}

header .brazil {
    font-style: italic;
    font-size: 35px;
    font-weight: 800;
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');