:root {
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --areia-suave: rgba(232, 225, 215, 0.7);
  --cinza-argila: rgb(168, 162, 158);
  --carvao: rgb(28, 28, 26);
  --terracota: rgba(154, 96, 64, 0.7);
}

.primary-font {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.secondary-font {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: var(--areia-suave);
  color: var(--carvao);
  display: block;
  margin: 5px 20px;
  padding: 5px;
  max-width: 100%;
}